@media all and (min-width: 480px) {
    .Login {
      /* padding: 250px 100px; */
      align: center;
    }

    body {
        background-color: pink;
    }

    .Login form {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right: 25%;
        float: none;
        padding: 200px;
        background-color: #0EAAB0;

    }

  }